.footer {
    background-image: url("/src/assets/red2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.726);
    text-align: center;
    
  }